#displayrow{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0px auto;
}

#buttonrow{
    display: flex;
    flex-direction: row;
}
